<div class="card-container">
  <div *ngFor="let card of (displayResults ? searchResults : creditCards)" class="card">
    <div *ngIf="isMasterCard(card)" class="mastercard-container">
      <div class="mastercard-container">
        <header>
          <span class="logo">
            <img src="../../assets/images/logo.png" alt="" />
            <h5>{{ card.cardType }}</h5>
          </span>
          <img src="../../assets/images/chip.png" alt="" class="chip" />
        </header>
        <div class="card-details">
          <div class="name-number">
            <h6>Card Number</h6>
            <h5 class="number">{{card.cardNumber}}</h5>
            <h5 class="name">{{card.cardHolderDetails.cardHolderName}}</h5>
          </div>
          <div class="valid-date">
            <h6>Valid Thru</h6>
            <h5>{{card.expiryDate}}</h5>
          </div>
          <div class="cvv">
            <h6>CVV</h6>
            <h5>{{card.cvv}}</h5>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="isVisa(card)" class="visa-container">
      <div class="visa-card">
        <div class="visa-card-inner">
          <div class="visa-front">
            <img src="https://i.ibb.co/PYss3yv/map.png" class="visa-map-img">
            <div class="visa-row">
              <img src="https://i.ibb.co/G9pDnYJ/chip.png" width="60px">
              <img src="https://i.ibb.co/WHZ3nRJ/visa.png" width="60px">
            </div>
            <div class="visa-row visa-card-no">
              <p>{{card.cardNumber}}</p>
            </div>
            <div class="visa-row visa-card-holder">
              <p>CARD HOLDER</p>
              <p>VALID TILL</p>
            </div>
            <div class="visa-row visa-name">
              <p>{{card.cardHolderDetails.cardHolderName}}</p>
              <p>{{card.expiryDate}}</p>
            </div>
          </div>
          <div class="visa-back">
            <div class="visa-bar"></div>
            <div class="visa-row visa-card-cvv">
              <div>
                <img src="https://i.ibb.co/S6JG8px/pattern.png">
              </div>
              <p>{{card.cvv}}</p>
            </div>
            <div class="visa-row visa-card-text">
              <p>This is a virtual card design using HTML and CSS. You can also design something like this.</p>
            </div>
            <div class="visa-row visa-signature">
              <p>CUSTOMER SIGNATURE</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
